@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?92mcoa') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?92mcoa') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?92mcoa##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square-transparent {
  &:before {
    content: $icon-square-transparent; 
  }
}
.icon-square-dark {
  &:before {
    content: $icon-square-dark; 
  }
}
.icon-square-minus {
  &:before {
    content: $icon-square-minus; 
  }
}
.icon-square-menu {
  &:before {
    content: $icon-square-menu; 
  }
}
.icon-lt {
  &:before {
    content: $icon-lt; 
  }
}
.icon-br {
  &:before {
    content: $icon-br; 
  }
}
.icon-bc {
  &:before {
    content: $icon-bc; 
  }
}
.icon-se {
  &:before {
    content: $icon-se; 
  }
}
.icon-square-phone {
  &:before {
    content: $icon-square-phone; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked; 
  }
}
.icon-square-closer {
  &:before {
    content: $icon-square-closer; 
  }
}
.icon-times {
  &:before {
    content: $icon-times; 
  }
}
.icon-times-circle {
  &:before {
    content: $icon-times-circle; 
  }
}
.icon-info-circle-dark {
  &:before {
    content: $icon-info-circle-dark; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-exclamation {
  &:before {
    content: $icon-exclamation; 
  }
}
.icon-exclamation-circle {
  &:before {
    content: $icon-exclamation-circle; 
  }
}
.icon-interrogation-balloon {
  &:before {
    content: $icon-interrogation-balloon; 
  }
}
.icon-interrogation-circle {
  &:before {
    content: $icon-interrogation-circle; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-security-check {
  &:before {
    content: $icon-security-check; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-arrow-down-circle {
  &:before {
    content: $icon-arrow-down-circle; 
  }
}
.icon-arrow-up-circle {
  &:before {
    content: $icon-arrow-up-circle; 
  }
}
.icon-arrow-right-circle {
  &:before {
    content: $icon-arrow-right-circle; 
  }
}
.icon-arrow-left-circle {
  &:before {
    content: $icon-arrow-left-circle; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-minus-circle1 {
  &:before {
    content: $icon-minus-circle1; 
  }
}
.icon-power {
  &:before {
    content: $icon-power; 
  }
}
.icon-exit-door {
  &:before {
    content: $icon-exit-door; 
  }
}
.icon-gateway {
  &:before {
    content: $icon-gateway; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-login {
  &:before {
    content: $icon-login; 
  }
}
.icon-man-arrows {
  &:before {
    content: $icon-man-arrows; 
  }
}
.icon-hourglass {
  &:before {
    content: $icon-hourglass; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-atom {
  &:before {
    content: $icon-atom; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked; 
  }
}
.icon-radio-checked {
  &:before {
    content: $icon-radio-checked; 
  }
}
.icon-radio-unchecked {
  &:before {
    content: $icon-radio-unchecked; 
  }
}
.icon-confused {
  &:before {
    content: $icon-confused; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-companies {
  &:before {
    content: $icon-companies; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-user-o {
  &:before {
    content: $icon-user-o; 
  }
}
.icon-account {
  &:before {
    content: $icon-account; 
  }
}
.icon-user-group {
  &:before {
    content: $icon-user-group; 
  }
}
.icon-badge {
  &:before {
    content: $icon-badge; 
  }
}
.icon-lamp1 {
  &:before {
    content: $icon-lamp1; 
  }
}
.icon-towers {
  &:before {
    content: $icon-towers; 
  }
}
.icon-tower {
  &:before {
    content: $icon-tower; 
  }
}
.icon-test-tube {
  &:before {
    content: $icon-test-tube; 
  }
}
.icon-download-arrow {
  &:before {
    content: $icon-download-arrow; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment; 
  }
}
.icon-robot {
  &:before {
    content: $icon-robot; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-folder-closer {
  &:before {
    content: $icon-folder-closer; 
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open; 
  }
}
.icon-folders {
  &:before {
    content: $icon-folders; 
  }
}
.icon-gallery {
  &:before {
    content: $icon-gallery; 
  }
}
.icon-spanner {
  &:before {
    content: $icon-spanner; 
  }
}
.icon-spanner-arrow {
  &:before {
    content: $icon-spanner-arrow; 
  }
}
.icon-spanners {
  &:before {
    content: $icon-spanners; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-gears {
  &:before {
    content: $icon-gears; 
  }
}
.icon-gear-spanner {
  &:before {
    content: $icon-gear-spanner; 
  }
}
.icon-form-edit {
  &:before {
    content: $icon-form-edit; 
  }
}
.icon-form {
  &:before {
    content: $icon-form; 
  }
}
.icon-form-location {
  &:before {
    content: $icon-form-location; 
  }
}
.icon-table {
  &:before {
    content: $icon-table; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-checklist {
  &:before {
    content: $icon-checklist; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-doc-empty {
  &:before {
    content: $icon-doc-empty; 
  }
}
.icon-doc-filled {
  &:before {
    content: $icon-doc-filled; 
  }
}
.icon-docs-filled {
  &:before {
    content: $icon-docs-filled; 
  }
}
.icon-docs-chart {
  &:before {
    content: $icon-docs-chart; 
  }
}
.icon-doc-money {
  &:before {
    content: $icon-doc-money; 
  }
}
.icon-doc-checked {
  &:before {
    content: $icon-doc-checked; 
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf; 
  }
}
.icon-log {
  &:before {
    content: $icon-log; 
  }
}
.icon-like {
  &:before {
    content: $icon-like; 
  }
}
.icon-dislike {
  &:before {
    content: $icon-dislike; 
  }
}
.icon-recharge {
  &:before {
    content: $icon-recharge; 
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner; 
  }
}
.icon-three-points {
  &:before {
    content: $icon-three-points; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-photographic {
  &:before {
    content: $icon-photographic; 
  }
}
.icon-link-external {
  &:before {
    content: $icon-link-external; 
  }
}
.icon-save {
  &:before {
    content: $icon-save; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-weight {
  &:before {
    content: $icon-weight; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked; 
  }
}
.icon-sound {
  &:before {
    content: $icon-sound; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}
.icon-serach-actions {
  &:before {
    content: $icon-serach-actions; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-headset {
  &:before {
    content: $icon-headset; 
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor; 
  }
}
.icon-notebook {
  &:before {
    content: $icon-notebook; 
  }
}
.icon-rede {
  &:before {
    content: $icon-rede; 
  }
}
.icon-site {
  &:before {
    content: $icon-site; 
  }
}
.icon-smartphone {
  &:before {
    content: $icon-smartphone; 
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi; 
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator; 
  }
}
.icon-calendar1 {
  &:before {
    content: $icon-calendar1; 
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper; 
  }
}
.icon-chart-pizza {
  &:before {
    content: $icon-chart-pizza; 
  }
}
.icon-megaphone {
  &:before {
    content: $icon-megaphone; 
  }
}
.icon-organograma {
  &:before {
    content: $icon-organograma; 
  }
}
.icon-etapas {
  &:before {
    content: $icon-etapas; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-panel-solar {
  &:before {
    content: $icon-panel-solar; 
  }
}
.icon-drums {
  &:before {
    content: $icon-drums; 
  }
}
.icon-raio {
  &:before {
    content: $icon-raio; 
  }
}
.icon-cataventos {
  &:before {
    content: $icon-cataventos; 
  }
}
.icon-fire {
  &:before {
    content: $icon-fire; 
  }
}
.icon-helmet {
  &:before {
    content: $icon-helmet; 
  }
}
.icon-balance {
  &:before {
    content: $icon-balance; 
  }
}
.icon-gavel {
  &:before {
    content: $icon-gavel; 
  }
}
.icon-plant {
  &:before {
    content: $icon-plant; 
  }
}
.icon-hand-plant {
  &:before {
    content: $icon-hand-plant; 
  }
}
.icon-medidor {
  &:before {
    content: $icon-medidor; 
  }
}
.icon-reciclagem {
  &:before {
    content: $icon-reciclagem; 
  }
}
.icon-spark {
  &:before {
    content: $icon-spark; 
  }
}
.icon-doc-report {
  &:before {
    content: $icon-doc-report; 
  }
}
.icon-status {
  &:before {
    content: $icon-status; 
  }
}
.icon-gota {
  &:before {
    content: $icon-gota; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-excel {
  &:before {
    content: $icon-excel; 
  }
}
.icon-doc {
  &:before {
    content: $icon-doc; 
  }
}
.icon-word {
  &:before {
    content: $icon-word; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-lamp {
  &:before {
    content: $icon-lamp; 
  }
}
.icon-power-plug {
  &:before {
    content: $icon-power-plug; 
  }
}

