$icomoon-font-family: "condominioapp-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-square-transparent: "\e9b4";
$icon-square-dark: "\e9b5";
$icon-square-minus: "\e9ab";
$icon-square-menu: "\e9ae";
$icon-lt: "\e9b3";
$icon-br: "\e9b2";
$icon-bc: "\e9b1";
$icon-se: "\e9b0";
$icon-square-phone: "\e9af";
$icon-phone: "\e94c";
$icon-minus-circle: "\e9aa";
$icon-checkbox-checked: "\e922";
$icon-square-closer: "\e9ac";
$icon-times: "\e981";
$icon-times-circle: "\e983";
$icon-info-circle-dark: "\e9ad";
$icon-info-circle: "\e953";
$icon-exclamation: "\e913";
$icon-exclamation-circle: "\e957";
$icon-interrogation-balloon: "\e917";
$icon-interrogation-circle: "\e958";
$icon-alert: "\e903";
$icon-security-check: "\e95d";
$icon-check: "\e92f";
$icon-check-circle: "\e901";
$icon-arrow-down-circle: "\e939";
$icon-arrow-up-circle: "\e941";
$icon-arrow-right-circle: "\e93b";
$icon-arrow-left-circle: "\e93a";
$icon-arrow-down: "\e317";
$icon-arrow-left: "\e318";
$icon-arrow-right: "\e319";
$icon-arrow-up: "\e31a";
$icon-plus-circle: "\e933";
$icon-minus-circle1: "\e15d";
$icon-power: "\e8ac";
$icon-exit-door: "\e94a";
$icon-gateway: "\e949";
$icon-logout: "\e985";
$icon-login: "\e988";
$icon-man-arrows: "\e905";
$icon-hourglass: "\e907";
$icon-trash: "\e91f";
$icon-blocked: "\e920";
$icon-box: "\e908";
$icon-atom: "\e909";
$icon-chart: "\e902";
$icon-chat: "\e90a";
$icon-checkbox-unchecked: "\e923";
$icon-radio-checked: "\e937";
$icon-radio-unchecked: "\e938";
$icon-confused: "\e943";
$icon-download: "\e945";
$icon-companies: "\e90c";
$icon-envelope: "\e90d";
$icon-eye: "\e910";
$icon-user-o: "\e966";
$icon-account: "\e932";
$icon-user-group: "\e900";
$icon-badge: "\e990";
$icon-lamp1: "\e912";
$icon-towers: "\e911";
$icon-tower: "\e91d";
$icon-test-tube: "\e91e";
$icon-download-arrow: "\e986";
$icon-upload: "\e964";
$icon-attachment: "\e931";
$icon-robot: "\e929";
$icon-expand: "\e924";
$icon-folder-closer: "\e96e";
$icon-folder-open: "\e925";
$icon-folders: "\e928";
$icon-gallery: "\e927";
$icon-spanner: "\e973";
$icon-spanner-arrow: "\e904";
$icon-spanners: "\e980";
$icon-gear: "\e93f";
$icon-gears: "\e975";
$icon-gear-spanner: "\e92c";
$icon-form-edit: "\e914";
$icon-form: "\e91c";
$icon-form-location: "\e926";
$icon-table: "\e970";
$icon-calendar: "\e97c";
$icon-checklist: "\e97e";
$icon-edit: "\e9a5";
$icon-doc-empty: "\e94b";
$icon-doc-filled: "\e918";
$icon-docs-filled: "\e92a";
$icon-docs-chart: "\e96d";
$icon-doc-money: "\e92d";
$icon-doc-checked: "\e92e";
$icon-pdf: "\e982";
$icon-log: "\e916";
$icon-like: "\e930";
$icon-dislike: "\e9a4";
$icon-recharge: "\e936";
$icon-spinner: "\e959";
$icon-three-points: "\e984";
$icon-printer: "\e940";
$icon-facebook: "\e93d";
$icon-instagram: "\e942";
$icon-camera: "\e976";
$icon-photographic: "\e93e";
$icon-link-external: "\e944";
$icon-save: "\e91a";
$icon-pencil: "\e92b";
$icon-weight: "\e947";
$icon-location: "\e948";
$icon-lock: "\e915";
$icon-eye-blocked: "\e98a";
$icon-sound: "\e951";
$icon-zoom-in: "\e954";
$icon-zoom-out: "\e955";
$icon-serach-actions: "\e9a8";
$icon-search: "\e8b6";
$icon-cloud: "\e98d";
$icon-headset: "\e9a7";
$icon-monitor: "\e95a";
$icon-notebook: "\e95b";
$icon-rede: "\e95c";
$icon-site: "\e95e";
$icon-smartphone: "\e95f";
$icon-wifi: "\e960";
$icon-calculator: "\e963";
$icon-calendar1: "\e98f";
$icon-newspaper: "\e992";
$icon-chart-pizza: "\e991";
$icon-megaphone: "\e96a";
$icon-organograma: "\e96b";
$icon-etapas: "\e90e";
$icon-play: "\e96f";
$icon-panel-solar: "\e995";
$icon-drums: "\e971";
$icon-raio: "\e994";
$icon-cataventos: "\e979";
$icon-fire: "\e974";
$icon-helmet: "\e9a9";
$icon-balance: "\e962";
$icon-gavel: "\e969";
$icon-plant: "\e977";
$icon-hand-plant: "\e97b";
$icon-medidor: "\e978";
$icon-reciclagem: "\e97a";
$icon-spark: "\e97d";
$icon-doc-report: "\e996";
$icon-status: "\e997";
$icon-gota: "\e999";
$icon-star: "\e99a";
$icon-heart: "\e99b";
$icon-excel: "\e99c";
$icon-doc: "\e99d";
$icon-word: "\e99e";
$icon-menu: "\e99f";
$icon-lamp: "\e9a0";
$icon-power-plug: "\e9a2";

