/* You can add global styles to this file, and also import other style files */
// @import "node_modules/bootstrap/scss/bootstrap";

@import "styles/styles-var";
@import "~bootstrap/scss/bootstrap";
@import "styles/utilities";
@import "styles/dropdown";
@import "styles/tables";
@import "styles/tabs";
@import "styles/validation";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root,
html,
body {
  height: 100%;
  // font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(112, 130, 164, 0.5);
  // border-radius: 5px;
  background: #efebeb;
  border-left: 1px solid #efe6e6;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(112, 130, 164, 0.4);
}

.ngb-highlight,
mark,
.mark {
  background-color: #ffe251;
  border-radius: 5px;
}
